@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}

/* register page starts */

#registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#registerContainer h1 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0.5rem;
  color: rgb(69, 69, 69);
}

#registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#registerForm input {
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid lightgray;
  color: #000;
}

#registerForm label {
  margin: 0.2rem 0;
  font-weight: 500;
  color: rgb(69, 69, 69);
}

#registerForm p {
  font-size: 0.8rem;
  color: red  !important;
}

#registerForm button {
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(46,123,248);
  color: white;
}

#registerContainer p {
  text-align: center;
  margin: 0.5rem 0;
  width: 24rem;
  font-weight: 500;
  color: rgb(69, 69, 69);
}

#registerSpan {
  font-weight: 600;
  color: gray;
}

#registerSpan a {
  color: rgb(46,123,248);
  font-weight: bold;
}

/* register page ends */


/* login page starts */

#loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#loginContainer h1 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 1rem;
  color: rgb(69, 69, 69);
}

#loginContainer p {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  width: 24rem;
  text-align: center;
  font-weight: 500;
  color: rgb(90, 90, 90);
}

#loginContainer label {
  margin: 0.5rem 0;
  font-weight: 500;
  color: rgb(69, 69, 69);
}

#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#loginForm input {
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid lightgray;
  color: #000;
}

#loginForm p {
  font-size: 0.8rem;
  color: red  !important;
}

#loginForm button {
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(46,123,248);
  color: white;
}

#loginForm span {
  color: rgb(46,123,248);
  font-weight: bold;
  cursor: pointer;
}

#signupSpan {
  font-weight: 600;
  color: gray;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#signupSpan a {
  color: rgb(46,123,248);
  font-weight: bold;
}

/* login page ends */


/* home page starts */

/* home page ends */

/* users page starts */

#usersPage {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#usersContainer {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-right: 4rem;
  padding-left: 4rem;
  width: 100%;
}

#usersHeader {
  margin-bottom: 1rem;
  font-size: 32px;
}

#usersSearch {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 100%;
}

#usersSearchInput {
  width: 24rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid lightgray;
  color: #000;

  background-image: url("../.././public/icons/search-icon.png");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: 10px 8px;
}

#usersSearchInput::placeholder {
  padding: 12px 36px;
}

#usersSearchInput:not(:placeholder-shown) {
  background-image: none;
}

#usersFilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  /* width: 100%; */
}

#usersFilterButton {

  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid lightgray;
  width: 10rem;
  display: inline;

}

#usersNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 100%;
}

#usersList {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  background-color: white;
}

#usersTable tr {
  border-bottom: 1px solid lightgray;
  align-items: start;
  padding: 0.5rem;
}

#usersTable th {
  text-align: left;
  padding: 0.75rem;
}

#usersTable td {
  padding: 1rem;
  text-align: left;
  color: rgb(90, 90, 90);
  font-weight: 600;
}


.usersTableRow {
  position: relative;
  cursor: pointer;
}

.moreDetails {
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  background-color: rgba(46,123,248);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  transition: visibility 0s, opacity 0.3s ease;
}

.usersTableRow:hover .moreDetails {
  visibility: visible;
  opacity: 1;
}



#pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#pagination button {
  padding: 0.5rem;
  border: 1px solid lightgray;
  width: 2.5rem;
  height: 2.5rem;
}

#pagination .active {
  background-color:rgb(46,123,248);
  color: white;

}

td img {
text-align: center;
}

.highlight {
  color: red;
  font-weight: bold;
}

/* users page ends */


/* users details page starts */

#updatePage {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#updateContainer {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-right: 4rem;
  padding-left: 4rem;
  width: 100%;
}

#updateForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

#updateFormHeader {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 32px;
}

#updateForm input {
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid lightgray;
  color: rgb(69, 69, 69);
}

#updateForm label {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(69, 69, 69);
}

#updateForm p {
  font-size: 0.8rem;
  color: red;
}

#updateForm select {
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid lightgray;
  color: #000;
}

#updateButton {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

#updateButton button {
  width: 8rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color:rgb(46,123,248);
  color: white;
}


/* confirm cancel modal starts */

#confirmUpdateModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

#confirmUpdateContent {
  background-color: rgb(46,123,248);
  color: white;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.confirmButtonContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.confirmButton {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.confirmButtonYes {
  background-color: #00c707;
  color: white;
  margin-right: 10px;
}

.confirmButtonNo {
  background-color: #e40f00;
  color: white;
}

/* confirm cancel modal ends */


/* toggle switch checkbox starts */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(84,225,119);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(84,225,119);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* toggle switch checkbox ends */


/* users details page ends */

/* INPUT STYLES STARTS */

input[type="search"] {
  border: 2px solid lightgray;
  border-radius: 6px;
  background-image: url("../.././public/icons/search-icon.png") ;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  color: #000;
  width: 100%;
  padding: 8px;
}

input[type="search"]:focus {
  border: 1px solid #FF0D87;
  outline: none;
}

input[type="search"]::placeholder {
 
  padding: 12px 32px;
}

input[type="search"]:not(:placeholder-shown) {
  background-image: none;
}

/* INPUT STYLES ENDS */